@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");
.contact-container {
    width: 100%;
    height: fit-content;
    display: grid;
    position:unset;
    align-items: center;
    justify-items: center;
    margin: 0;
    padding: 4rem auto;
  }
  
  .contact-us {
    background: #eccafb;
    padding: 50px 100px;
    border: 2px solid black;
    box-shadow: 15px 15px 1px #BC8CF2, 15px 15px 1px 2px black;
    margin-bottom: 7rem;
  }

 .title {
    margin: 0rem auto;
    padding-top: 7rem;
    font-size: 100px;
    line-height: normal;
 }


  .msg-box {
    margin: 1rem auto;
    width: auto;
    display: flex;
    align-items: center;
  }
  .msg {
    width: 150px;
    height: 150px;
    margin: 0;
    
  }




  input, textarea {
    display: block;
    width: 100%;
    font-size: 14pt;
    line-height: 28pt;
    font-family: "Fjalla One";
    margin-bottom: 28pt;
    border: none;
    border-bottom: 5px solid black;
    background: #eccafb;
    min-width: 250px;
    padding-left: 5px;
    outline: none;
    color: black;
  }
  
  input:focus, textarea:focus {
    border-bottom: 5px solid #BC8CF2;
  }
  
  button {
    display: block;
    margin: 0 auto;
    line-height: 28pt;
    padding: 0 20px;
    background: #BC8CF2;
    letter-spacing: 2px;
    transition: 0.2s all ease-in-out;
    outline: none;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 3px 3px 1px 1px #AA14F0, 3px 3px 1px 2px black;
  }
  button img {
    width: 50px;
  }

  ::selection {
    background: #AA14F0;
  }
  
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    border-bottom: 5px solid #AA14F0;
    -webkit-text-fill-color: #2A293E;
    -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
    transition: background-color 5000s ease-in-out 0s;
  }
  ._social-links {
	position: fixed;
	right: 0;
	top: 50%;
	transform: translatey(-50%);
	padding: 1em 0.5em 1em 1em;
	background: #fafafa;
	border-radius: 0.5em 0 0 0.5em;
	box-shadow: -4px 0px 0px #AA14F0;
	transition: all 300ms ease;
}

._social-links:hover {
	box-shadow: -8px 0px 20px #AA14F0;
	padding: 1em;
}

._links-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1em;
}
._social-link a {
	color: #111;
	font-size: 1.5rem;
	transition: all 200ms ease;
}
._social-link a:visited {
	color: #111;
}
._social-link a:hover {
	color: #AA14F0;
	font-size: 1.75rem;
}

@media screen and (max-width: 799px) {
  .title {
    line-height: normal;
    font-size: 50px;
  }
  .contact-us {
    width: 400px;
    height: 400px;
  }
  .msg {
    width: 100px;
    height: 100px;
  }
  button img {
    width: 30px;
  }
} 